<mat-form-field>
  <mat-label>Sort by:</mat-label>
  <mat-select [(ngModel)]="sortField" (selectionChange)="onSort()">
    <mat-option value="id">ID</mat-option>
    <mat-option value="firstName">First Name</mat-option>
    <mat-option value="lastName">Last Name</mat-option>
  </mat-select>
</mat-form-field>
<mat-form-field>
  <mat-label>Order:</mat-label>
  <mat-select [(ngModel)]="sortOrder" (selectionChange)="onSort()">
    <mat-option value="asc">Ascending</mat-option>
    <mat-option value="desc">Descending</mat-option>
  </mat-select>
</mat-form-field>
